<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Page Title</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static', filename='estilo.css') }}">

</head>
<body>
    <header>
        <h2>Page</h2>
    </header>
    
    <section>
        <div>
            <h2>rebaixamento ideal</h2>
    <form action = "/livrosporid" method="get">  
    <table>  
        <tr><td>Id do livro</td><td><br><input type="number" name="idlivro"></td></tr>    
        <br><tr><td><input type="submit" value="Submit"></td></tr>  
    </table>  
    </form>
            
        </div>
    </section>
    <br>
    <footer> 
    <section>
        <div id="repetir">
            
        </div>
    </section>
    </footer><br>

    <footer>
        
    </footer>
    
    
</body>
</html>